<div class="container">
  <form class="form-horizontal" role="form" method="POST">
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <h2>Вход</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input [(ngModel)]="userLoginForm.principals" type="text" name="email" class="form-control" id="email"
                   placeholder="email@example.com" required autofocus ={{principle}}>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input [(ngModel)]="userLoginForm.credentials" type="password" name="password" class="form-control" id="password"
                   placeholder="Пароль" required value={{credential}}>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        <!-- Put password error message here -->
                        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3" style="padding-top: .35rem">
        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
          <label class="form-check-label">
            <input [(ngModel)]="rememberMe" class="form-check-input" name="remember"
                   type="checkbox" >
            <span style="padding-bottom: .15rem">Оставаться в сети</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 1rem">
      <div class="col-md-6 offset-md-3">
        <button type="submit" class="btn btn-success" (click)="login()">Войти</button>
        <a class="btn btn-link" href="#">Забыли пароль?</a>
      </div>
    </div>
  </form>
</div>
