<form>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="inputLastName">Фамилия*</label>
      <input [(ngModel)]="administrator.lastName" type="text" class="form-control" id="inputLastName" placeholder="Иванов" name="lastName">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="inputFirstName">Имя*</label>
      <input [(ngModel)]="administrator.firstName" type="text" class="form-control" id="inputFirstName" placeholder="Иван" name="firstName">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="inputMiddleName">Отчество*</label>
      <input [(ngModel)]="administrator.middleName" type="text" class="form-control" id="inputMiddleName" placeholder="Иванович" name="middleName">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail">Email*</label>
      <input [(ngModel)]="administrator.email" type="email" class="form-control" id="inputEmail" placeholder="example@gmail.com" name="email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPhoneNumber">Номер Телефона*</label>
      <input [(ngModel)]="administrator.phoneNumber" type="email" class="form-control" id="inputPhoneNumber" placeholder="+7 (927) 777-77-77" name="phoneNumber">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Город*</label>
      <input [(ngModel)]="administrator.city" type="text" class="form-control" id="inputAddress" placeholder="Москва" name="city">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputSecretQuestion">Секретный вопрос*</label>
      <select id="inputSecretQuestion" [(ngModel)]="administrator.secretQuestionId" name="secretQuestion" class="form-control">
        <option *ngFor="let secretQuestion of secretQuestions" value="secretQuestion.id">{{secretQuestion.question}}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputSecretAnswer">Секретный ответ*</label>
      <input [(ngModel)]="administrator.secretAnswer" type="text" class="form-control" id="inputSecretAnswer" placeholder="Москва" name="city">
    </div>
  </div>
  <button type="submit" class="btn btn-dark" (click)="createTeacher()">Добавить</button>
</form>
